/* line 36, ../sass/math2.scss */
#tester {
  numerator: numerator(2.5);
  denominator: denominator(2.5);
  to-fraction: to-fraction(2.5);
  to-decimal: to-decimal(3/2);
  exponent: 4.0;
  power: 12226.61611;
  sqrt: 127;
  nth-root: 3;
  factorial: 362880;
  pi: 3.14159;
  e: 2.71828;
  ln: 1;
  log10: 1;
  golden: 1.61803;
  is-int: true;
  is-float: false;
}
