//////////////////////////////
// Variables
//////////////////////////////

////////////////////////
// Function Aliases
////////////////////////


////////////////////////
// Functions
////////////////////////
@function percent-to-decimal($number) {
  @return $number * 0.01 / 1%;
}

////////////////////////
// Test
////////////////////////
$fraction: 2.5;

$fraction-2: to-fraction(2.5);
@debug $fraction-2;

@debug to-fraction(1.1);

@debug deg-to-rad(127deg);
@debug deg-to-rad(127);
@debug rad-to-deg(pi()/2);
@debug acos(-1);
@debug asinh(-.5);
@debug tanh(pi()/2);
@debug hypot(3, 4);
@debug acosh(1.1);

#tester {
  numerator: numerator($fraction);
  denominator: denominator($fraction);
  to-fraction: to-fraction($fraction);
  to-decimal: to-decimal(3/2);
  exponent: exponent(8, 2, 3);
  power: power(20, pi());
  sqrt: sqrt(16129);
  nth-root: nth-root(27, 3);
  factorial: factorial(9);
  pi: pi();
  e: e();
//  pi: $pi;
//  e: $e;
//  rand: rand();
  ln: ln(e());
  log10: log10(10);
  golden: golden-ratio();
  is-int: is-int(4);
  is-float: is-float(2);
}