@charset "UTF-8";
.foo {
  width: 3;
  width: 9;
  width: 1.571;
  width: 362880;
  -webkit-transform: rotate(90deg);
  width: 0.707;
  width: 0.174;
  width: 0.0;
  width: 0.985;
  width: 0.5;
  width: random number; }
